<launch>
  <arg name="name" default="robot"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find art_med_robots_control)/config/$(arg name)_control.yaml" command="load"/>
  <rosparam file="$(find art_med_robots_control)/config/jaco2_left_control.yaml" command="load"/>
  <rosparam file="$(find art_med_robots_control)/config/jaco2_right_control.yaml" command="load"/>

  <!-- Effort Joint trajectory controller-->
  <node name="$(arg name)_joints_controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"
    args="joint_state_controller
          left_position_joint_trajectory_controller
          left_effort_finger_trajectory_controller
          left_effort_finger_tip_trajectory_controller
          right_position_joint_trajectory_controller
          right_effort_finger_trajectory_controller
          right_effort_finger_tip_trajectory_controller
          ptu_pan_position_controller
          ptu_tilt_position_controller
          "/>

  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">    
  </node>

  <node name="command_robot_home_pose" pkg="art_med_robots_control" type="move_robot.py" />

</launch>
