<launch>
	<arg name="urdf" value="$(find art_med_robots_description)/urdf/pioneer-lx-jaco2.urdf" />
	<param name="robot_description" textfile="$(arg urdf)" />
	<node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_robots_description)/urdf/display_urdf.rviz" required="true" />
</launch>
